USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 12-07-2021 15:33:34 ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeparmentID] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](1000) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeparmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](1000) NULL,
	[Department] [varchar](1000) NULL,
	[MailID] [varchar](1000) NULL,
	[DOJ] [date] NULL,
	[gender] [varchar](255) NULL,
	[primaryaddress] [varchar](max) NULL,
	[secondaryaddress] [varchar](max) NULL,
	[imgFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hobby]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobby](
	[hobbyid] [int] IDENTITY(1,1) NOT NULL,
	[hobby] [varchar](255) NOT NULL,
	[userid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hobbyid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookUp]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lookupname] [varchar](255) NULL,
	[lookupdescription] [varchar](max) NULL,
	[createddate] [date] NULL,
	[modifieddate] [date] NULL,
	[isActive] [bit] NULL,
	[createdby] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookUpData]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lookupid] [int] NULL,
	[value] [varchar](255) NULL,
	[valueindex] [int] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[taskid] [int] IDENTITY(1,1) NOT NULL,
	[employeeid] [int] NULL,
	[tasktitle] [varchar](max) NULL,
	[taskdescription] [varchar](max) NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
	[iscompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[taskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDB]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDB](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](1000) NULL,
	[email] [varchar](1000) NULL,
	[password] [varchar](max) NULL,
	[isadmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExperience]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExperience](
	[expid] [int] IDENTITY(1,1) NOT NULL,
	[technology] [varchar](max) NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
	[employeeid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[expid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[worklog]    Script Date: 12-07-2021 15:33:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[worklog](
	[logid] [int] IDENTITY(1,1) NOT NULL,
	[taskid] [int] NULL,
	[tasktitle] [varchar](max) NULL,
	[logdescription] [varchar](max) NULL,
	[logdate] [date] NULL,
	[loghour] [int] NULL,
	[logminute] [int] NULL,
	[employeeid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DeparmentID], [DepartmentName]) VALUES (2, N'Mathematics')
INSERT [dbo].[Departments] ([DeparmentID], [DepartmentName]) VALUES (3, N'Computer')
INSERT [dbo].[Departments] ([DeparmentID], [DepartmentName]) VALUES (6, N'English')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Hobby] ON 

INSERT [dbo].[Hobby] ([hobbyid], [hobby], [userid]) VALUES (148, N'cricket', 97)
INSERT [dbo].[Hobby] ([hobbyid], [hobby], [userid]) VALUES (149, N'chess', 100)
INSERT [dbo].[Hobby] ([hobbyid], [hobby], [userid]) VALUES (150, N'chess', 101)
SET IDENTITY_INSERT [dbo].[Hobby] OFF
GO
SET IDENTITY_INSERT [dbo].[LookUp] ON 

INSERT [dbo].[LookUp] ([id], [lookupname], [lookupdescription], [createddate], [modifieddate], [isActive], [createdby]) VALUES (8, N'Gender', N'Gender Types', CAST(N'2021-06-29' AS Date), NULL, 1, N'y@y.com')
INSERT [dbo].[LookUp] ([id], [lookupname], [lookupdescription], [createddate], [modifieddate], [isActive], [createdby]) VALUES (9, N'Experience', N'Experience Type', CAST(N'2021-06-29' AS Date), NULL, 1, N'y@y.com')
INSERT [dbo].[LookUp] ([id], [lookupname], [lookupdescription], [createddate], [modifieddate], [isActive], [createdby]) VALUES (12, N'Technology', N'Technology', CAST(N'2021-06-30' AS Date), NULL, 1, N'y@y.com')
SET IDENTITY_INSERT [dbo].[LookUp] OFF
GO
SET IDENTITY_INSERT [dbo].[LookUpData] ON 

INSERT [dbo].[LookUpData] ([id], [lookupid], [value], [valueindex], [isActive]) VALUES (163, 12, N'React', 0, NULL)
INSERT [dbo].[LookUpData] ([id], [lookupid], [value], [valueindex], [isActive]) VALUES (164, 12, N'.net', 0, NULL)
INSERT [dbo].[LookUpData] ([id], [lookupid], [value], [valueindex], [isActive]) VALUES (184, 9, N'Fresher', 0, NULL)
SET IDENTITY_INSERT [dbo].[LookUpData] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([taskid], [employeeid], [tasktitle], [taskdescription], [startdate], [enddate], [iscompleted]) VALUES (7, 97, N'React1', N'dfdsf', CAST(N'2021-06-11' AS Date), CAST(N'2021-06-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDB] ON 

INSERT [dbo].[UserDB] ([userid], [name], [email], [password], [isadmin]) VALUES (14, N'Priyank', N'p@p.com', N'abc', 1)
INSERT [dbo].[UserDB] ([userid], [name], [email], [password], [isadmin]) VALUES (15, N'Yash', N'y@y.com', N'abc', 0)
INSERT [dbo].[UserDB] ([userid], [name], [email], [password], [isadmin]) VALUES (16, N'sdfs', N'p1@p.com', N'abc', 1)
SET IDENTITY_INSERT [dbo].[UserDB] OFF
GO
SET IDENTITY_INSERT [dbo].[UserExperience] ON 

INSERT [dbo].[UserExperience] ([expid], [technology], [startdate], [enddate], [employeeid]) VALUES (1, N'dfbdf', CAST(N'2021-06-08' AS Date), CAST(N'2021-06-08' AS Date), 82)
INSERT [dbo].[UserExperience] ([expid], [technology], [startdate], [enddate], [employeeid]) VALUES (83, N'', CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date), 97)
INSERT [dbo].[UserExperience] ([expid], [technology], [startdate], [enddate], [employeeid]) VALUES (84, N'trhrtgf', CAST(N'2021-06-27' AS Date), CAST(N'2021-06-21' AS Date), 100)
SET IDENTITY_INSERT [dbo].[UserExperience] OFF
GO
SET IDENTITY_INSERT [dbo].[worklog] ON 

INSERT [dbo].[worklog] ([logid], [taskid], [tasktitle], [logdescription], [logdate], [loghour], [logminute], [employeeid]) VALUES (20, 3, N'React', N'eew', CAST(N'2021-06-23' AS Date), 3, 30, 97)
INSERT [dbo].[worklog] ([logid], [taskid], [tasktitle], [logdescription], [logdate], [loghour], [logminute], [employeeid]) VALUES (26, 7, N'React1', N'ssd', CAST(N'2021-06-24' AS Date), 5, 0, 97)
INSERT [dbo].[worklog] ([logid], [taskid], [tasktitle], [logdescription], [logdate], [loghour], [logminute], [employeeid]) VALUES (30, 7, N'React1', N'zv', CAST(N'2021-06-25' AS Date), 4, 4, 97)
SET IDENTITY_INSERT [dbo].[worklog] OFF
GO
ALTER TABLE [dbo].[LookUp] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[LookUpData] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [iscompleted]
GO
ALTER TABLE [dbo].[UserDB] ADD  DEFAULT ((0)) FOR [isadmin]
GO
ALTER TABLE [dbo].[LookUpData]  WITH CHECK ADD FOREIGN KEY([lookupid])
REFERENCES [dbo].[LookUp] ([id])
GO
USE [master]
GO
